.container__dropdown {
  position: relative;
}
.user__menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__menu span {
  color: var(--blue-dark);
}

.dropdown__menu {
  position: absolute;
  background-color: var(--background);
  border: 1px solid var(--light);
  border-radius: 5px;
  top: 120%;
  left: -50%;
  z-index: 1;
  width: max-content;
  min-width: 100px;
}

.auth__btn {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  color: var(--blue);
  border: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.auth__btn:hover {
  background-color: #d0d3d0;
}

@media screen and (max-width: 768px) {
  .container__dropdown {
    margin-left: auto;
  }
}
